<section class="banner-h5">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">
			精选专题 <i>热</i>
		</p>
	</div>
	<ul class="banner-h5__list">
		<div>
			<li>
				<div class="banner-h5__cover">
					<img class="cover" src="http://t1.market.xiaomi.com/thumbnail/jpeg/l640/Duokan/0bda584fca7424d18261583550ecbbf9c8b6d0b59?"></div>
			</li>
			<li>
				<div class="banner-h5__cover">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01nJ9Q4nQxo/kL8SEcbMJ6rfo1.jpg"></div>
			</li>
		</div>
	</ul>
	<div class="channel-h5__footer">
		<a class="btn-h5__more">更多精彩专题&gt;&gt;</a>
	</div>
</section>